@media only screen and (max-width: 768px) {

  .header-index {
    padding: 5px 0px;
  }

  .header-cartas {
    padding: 6px 0px;
  }

  .Menu__imagenes-carta {
    margin-left: auto;
    margin-right: auto;
  }

  .img-responsive {
    padding-top: 10%;
    height: 85%;
    width: 100%;
  }

  .Demostracion__grid-main {
    width: 100%;
    margin: 0px 10px;
  }

  p {
    font-size: 18px;
  }

  .p-carta {
    font-size: 17px;
    padding: 0px 15px;
  }
  h1 {
    font-size: 55px;
  }
  .Menu__imagenes-carta{
    margin-left: auto;
  }
}