@media only screen and (max-width: 768px) {

  .header-index {
    padding: 5px 0px;
  }

  .header-cartas {
    padding: 6px 0px;
  }

  .Menu__imagenes-carta {
    margin-left:  12px;
    margin-right: 12px;
  }

  .img-responsive {
    padding-top: 10%;
    height: 85%;
    width: 100%;
  }

  .Section__comentarios{
    width: 100%;
  }

  .Section__imagen-comentario {
    width: 95%;
    margin-left: 25px;
  }

  .Demostracion__grid-main {
    width: 100%;
    margin: 0px 10px;
  }

  p {
    font-size: 18px;
  }

  .p-carta {
    font-size: 17px;
    padding: 0px 15px;
  }
  h1 {
    font-size: 55px;
  }
  nav {
    width: 100%;
  }
  .padding-index {
    padding-top: 70px;
  }
  .padding-cartas {
    padding-top: 75px;
  }
}